/**
 * Form styles.
 */

// Checkboxes / radio buttons.
.checkbox,
.radio {
  // Remove top/bottom margins when in table context, because this is most
  // likely a tableselect checkbox element.
  table &.form-no-label {
    margin-bottom: 0;
    margin-top: 0;
  }
}

// Browsers do not recognize pseudo :after selectors, we must create a wrapper
// around the select element to style it properly.
// $see http://stackoverflow.com/q/21103542
.select-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  line-height: .75em;

  @include icon(inherit, 'keyboard_arrow_down');

  .form-inline & {
    width: auto;
  }

  .input-group & {
    display: table-cell;
    // Reset rounded corners

    &:first-child .form-control:first-child {
      @include border-left-radius($border-radius);
    }

    &:last-child .form-control:first-child {
      @include border-right-radius($border-radius);
    }
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    line-height: 1;
    padding-right: 2em;

    &::-ms-expand {
      opacity: 0;
    }
  }

  &:after {
    color: $primary;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-top: -.5em;
    padding-right: .5em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    z-index: 10;

    .has-error & {
      color: theme-color-level("danger", -10);
    }

    .has-success & {
      color: theme-color-level("success", -10);
    }

    .has-warning & {
      color: theme-color-level("warning", -10);
    }
  }
}

// Use CSS/SVG image for required mark.
// @see https://www.drupal.org/node/2152217
// @see https://www.drupal.org/node/2274631
.form-required:after {
  background-image: url(../images/required.svg);
  background-size: 10px 7px;
  content: "";
  display: inline-block;
  line-height: 1;
  height: 7px;
  width: 10px;
}

// Form items.
.form-actions,
.form-item,
.form-text {
  margin: 0;
}

// Form action buttons.
.form-actions {
  .btn,
  .btn-group {
    margin-right: 10px;
  }

  .btn-group .btn {
    margin-right: 0;
  }
}
