.page-dashboard {
  background-color: #f7f9fa;
  color: #787d81;
  font-size: 12px;
  height: 100%;

  .page-title {
    font-size: 17px;
    color: #1f262b;
    text-transform: uppercase;
  }

  .dropdown-toggle:after {
    display: none;
  }

  .nav-link i {
    vertical-align: middle;
  }

  /** Widgets **/
  .display-widget {
    margin-bottom: 1.75em;
  }

  .widget-content {
    margin-bottom: 1em;
  }

  .widget-box {
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 1em;
    height: 100%;

    .section {
      margin: 1.5em 0 0.5em;
    }

    .title {
      margin: 0.5em 0;
      color: #787d81;
      font-size: 15px;
      text-transform: uppercase;
    }

    .stat {
      color: #1f262b;
      font-size: 36px;
      font-weight: 300;
    }

    .status-text {
      font-size: 16px;
      font-weight: 300;
    }

    a .material-icons {
      font-size: 1em;
    }

    h3 {
      margin: 0.5em 0;
      font-size: 14px;
    }

    h4 {
      margin: 0.5em 0;
      font-size: 12px;
    }

    .detail {
      font-size: 1.5em;
      color: $orange;
    }
  }

  /** Widget Form **/
  #widget-form {
    min-width: 280px;
    padding: 1em 1.5em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    form h2,
    form h3 {
      margin: 0.5em 0;
      font-size: 17px;
    }

    .description {
      font-size: 12px;
    }

    .form-checkboxes {
      padding: 0.5em 0;
    }

    .form-actions {
      clear: both;
      border-top: 1px solid #ccc;
      padding: 1em 0;
    }

    .form-submit {
      float: right;
    }
  }
}
