{#
/**
 * @file
 * Theme override for a field.
 *
 * To override output, copy the "field.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--text-with-summary.html.twig
 * - field.html.twig
 *
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - items: List of all the field items. Each item contains:
 *   - attributes: List of HTML attributes for each item.
 *   - content: The field item's content.
 * - entity_type: The entity type to which the field belongs.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 * @ingroup templates
 *
 * @see template_preprocess_field()
 */
#}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field--label',
    label_display == 'visually_hidden' ? 'sr-only',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field--items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field--item') }}>
          <div class="date">
            {% if view_mode != 'teaser_card' %}
              {% if item.event_same_day %}
                <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }}</span>
                <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
              {% else %}
                <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }} - {{ item.content['end_date'].date|date("M j, Y") }}</span>
                <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
              {% endif %}
            {% else %}
              <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j") }}</span>
            {% endif %}
            <span>{{ item.content }}</span>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field--item') }}>
        <div class="date">
          {% if view_mode != 'teaser_card' %}
            {% if item.event_same_day %}
              <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }} 1</span>
              <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
            {% else %}
              <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }} - {{ item.content['end_date'].date|date("M j, Y") }}</span>
              <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
            {% endif %}
          {% else %}
            <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j") }}</span>
          {% endif %}
          <span>{{ item.content }}</span>
        </div>
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class="field__items">
    {% endif %}
    {% for item in items %}
      <div{{ item.attributes.addClass('field--item') }}>
        <div class="date">
          {% if view_mode != 'teaser_card' %}
            {% if item.event_same_day %}
              <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }}</span>
              <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
            {% else %}
              <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j, Y") }} - {{ item.content['end_date'].date|date("M j, Y") }}</span>
              <span><i class="material-icons" aria-hidden="true">access_time</i>{{ item.content['start_date'].date|date("ga") }} - {{ item.content['end_date'].date|date("ga") }}</span>
            {% endif %}
          {% else %}
            <span><i class="material-icons" aria-hidden="true">date_range</i>{{ item.content['start_date'].date|date("M j") }}</span>
          {% endif %}
          <span>{{ item.content }}</span>
        </div>
      </div>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
