{#
/**
 * @file
 * Template for a one column panel layout.
 *
 * This template provides a very simple "one column" panel display layout.
 *
 * Variables:
 * - $id: An optional CSS id to use for the layout.
 * - $content: An array of content, each item in the array is keyed to one
 *   panel of the layout. This layout supports the following sections:
 *   - content.middle: The only panel in the layout.
 */
#}
<section class="panel-oedu-1col subsection" {% if css_id %}{{ css_id }}{% endif %}>
  <div class="panel-panel container">
    <div class="row">
      <div class="subsection_top col">
        {{ content.top }}
      </div>
    </div>
    <div class="row text-center text-md-left">
      <div class="subsection_left col-12 col-md-3 col-lg-2">
        {{ content.subsection_left }}
      </div>
      <div class="subsection_right col-12 col-md-9 col-lg-10">
        {{ content.subsection_right }}
      </div>
    </div>
  </div>
</section>
<section class="panel-oedu-container container block clearfix">
  <div class="row">
    <div class="panel-oedu-2col col-md-4 order-2" {% if css_id %}{{ css_id }}{% endif %}>
      <div class="panel-panel">
        {{ content.right }}
      </div>
    </div>
    <div class="panel-oedu-2col col-md-8 order-1" {% if css_id %}{{ css_id }}{% endif %}>
      <div class="panel-panel">
        {{ content.left }}
      </div>
    </div>
  </div>
</section>
<section class="panel-oedu-1col bottom">
  <div class="panel-panel">
    {{ content.bottom }}
  </div>
</section>
